body {
	background-color:#FFFFFF;
	background-image: none;
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	background-color: #000033;
	background-image: url(sunset.jpg);
	background-position: right;
	background-repeat: no-repeat;
	color: #FFFFFF;
	line-height: 120%;
	font-family: Georgia, sans-serif;
	padding-left: 0.3em;
	height: 30px;
	margin: 0px;
	font-size: 1.5em;
}

#nav {
	font-weight: bold;
	float: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

#nav a {
	text-decoration: none; 
	display: block;
	padding: 0.2em;
	font-size: 1.3em;
	border-bottom: 1px solid #330000;
}
#nav a:link { color: #000033; }
#nav a:visited { color: #344873; }
#nav a:hover { color: #FFFFFF; }

#nav ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h2 {
	color: #3399CC;
	font-family: Georgia, sans-serif
}

dt {
	color: #000033;
}

.resort {
	color: #000033;
	font-size: 1.2em;
}

#footer {
	font-size: .70em;
	font-style: italic;
	text-align: center;
	padding: 0;
	margin: 0;
}

#wrapper {
	background-color: #90C7E3;
	min-width: 0;
	-webkit-box-shadow: 5px 5px 5px #828282;
	-moz-box-shadow: 5px 5px 5px #828282;
	box-shadow: 5px 5px 5px #828282;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}

 h3 {
 	color: #000033;
}

 #content {
 	padding-left: 0.4em;
 	padding-right: 0;
 	background-color: #FFFFFF;
 	margin: 0;
 	padding-top: 0.1em;
 	padding-bottom: 0;
 	font-size: 90%
 }

 #content img {
 	display: none;
 	float: none;
 	padding-right: 0;
 }

.clear {
 	clear: left;
 	padding-top: 0;
}

#content ul { list-style-position: outside; }

#mobile { display: inline; }
#desktop { display: none; }