body {
	background-color: #F0F0F0;
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
}

#wrapper {
	background-color: #745247;
	min-width: 960px;
	-webkit-box-shadow: 5px 5px 5px #828282;
	-moz-box-shadow: 5px 5px 5px #828282;
	box-shadow: 5px 5px 5px #828282;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
}


#top {  
	height: 65px;
	text-align: center;
	border: 3px solid #CACACA;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background-image: url(images/sprite_texture.png);
	color: white;
	text-shadow: 4px 4px 10px #000000;
    filter: dropshadow(color=#000000, offx=4, offy=4);
	-webkit-box-shadow: 3px 3px 15px rgba(83, 22, 25, 0.75);
	-moz-box-shadow: 3px 3px 15px rgba(83, 22, 25, 0.75);
	box-shadow: 3px 3px 15px rgba(83, 22, 25, 0.75);
}

#top h1 {
	margin: 12px 0 0 0;
}

#nav {
	font-weight: bold;
	padding-top: 5px;
	height: 30px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-left: auto;
}

a:link { color: #000000; }
a:visited { color: #AB958D; }
a:hover { color: #745146; }

#nav ul { 
	list-style-type: none;
	margin-top: auto;
	margin-bottom: auto;
	display: inline;
	margin-left: 20%;
	margin-right: auto;
}

#nav ul li {
	display: inline;
	padding-left: 10%;
	padding-right: 10%;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px; 
	border: 3px solid #CACACA;
	background-color: #ffffff;
	-webkit-box-shadow: 3px 3px 15px rgba(83, 22, 25, 0.75);
	-moz-box-shadow: 3px 3px 15px rgba(83, 22, 25, 0.75);
	box-shadow: 3px 3px 15px rgba(83, 22, 25, 0.75);
	margin-left: auto;
	margin-right: auto;
}

#content {
 	background-color: #FFFFFF;
	min-height: 250px;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
	border-style: solid;
	border-width: 8px 7px 6px 6px;
	-moz-border-image: url(images/sprite_texture.png) 8 7 6 6 round;
 	-webkit-border-image: url(images/sprite_texture.png) 8 7 6 6 round;
	-o-border-image: url(images/sprite_texture.png) 8 7 6 6 round;
	border-image: url(images/sprite_texture.png) 8 7 6 6 round;
	-webkit-box-shadow: inset -1px 4px 23px 10px rgba(0,0,0,0.75);
	-moz-box-shadow: inset -1px 4px 23px 10px rgba(0,0,0,0.75);
	box-shadow: inset -1px 4px 23px 10px rgba(0,0,0,0.75);
}

#content ul { list-style-position: inside; }

#left {
	float: left;
	padding: 20px 20px;
	width: 45%;
	height: 320px; 
}

#left img {
	border-radius: 25px;
	border-style: solid;
	-webkit-box-shadow: 6px 6px 24px rgba(83, 22, 25, 0.75);
	-moz-box-shadow: 6px 6px 24px rgba(83, 22, 25, 0.75);
	box-shadow: 6px 6px 24px rgba(83, 22, 25, 0.75);
	margin-left: auto;
	margin-right:auto;
	width: 90%; 
}

#right {
	float: right;
	width: 45%;
	height: 320px;
	padding: 20px 20px;
}

#address {
	margin-left: 40%;
}

#bottom {
    padding: 5px 20px 10px 20px;
	
}

#jumptext {
	text-align: right;
}

#footer {
	text-align: center;
	text-size: 0.7em;
	padding-top: 10px;
	color: #ffffff;
}