body {
	background-color: #ffffff;
	color: #000000;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	width: 80%;
	margin-left: auto;
	margin-right:  auto; 
}


.top {
	position: fixed;  
	top: 0;
	width: 80%;
	height: 100px;
	text-align: center;
	text-decoration: none; 
	background-color: #ffffff;
}

div.top a {
	text-decoration: none;
	font-weight: bold;
	text-decoration: none; }
div.top a:link { color: #ffffff; }
div.top a:visited { color: #DFDFDF; }
div.top a:hover { color: #919CD3; }

#heading {
	margin-left: auto;
	margin-right: auto;
	-moz-box-shadow:    3px 3px 20px 6px #ccc;
	-webkit-box-shadow: 3px 3px 10px 6px #ccc;	
	box-shadow:         3px 3px 10px 6px #ccc;
}
h1 {
	background-color: #193B63;
	color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
}

#nav {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #385D8A;
	-moz-box-shadow:    3px 3px 20px 6px #ccc;
	-webkit-box-shadow: 3px 3px 10px 6px #ccc;	
	box-shadow:         3px 3px 10px 6px #ccc; }
	
#nav ul { 
	list-style-type: none;
	margin: 0 0 0 0;
}

#nav ul li { 
	display: inline;
	margin-left: 20px;
	margin-right: 20px;}
	

#content {
 	background-color: #F2F4F6;
 	margin-top: 120px; 
 	padding: 20px 35px 20px 35px;
	-moz-box-shadow:    7px 7px 20px 6px #ccc;
	-webkit-box-shadow: 7px 20px 10px 6px #ccc;	
	box-shadow:         7px 20px 10px 6px #ccc;
 	min-height: 250px;
}

#leftcontent {
	float: left;
	width: 40%;
	margin: 10px 10px 10px 10px;
}

img{
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;	
	box-shadow:         3px 3px 5px 6px #ccc;
}

#rightcontent {
	margin: 27px 10px 10px 20px;
	width: 40%;
	margin-left: 450px;

}

#rightcontent span {
	font-size: 1.5em;
	font-weight: bold;
	color: #070C86; }



.center {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.centernarrow {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}

#footer {
	text-align: center;
	font-size: .7em
}

#pricingtable { border: 1px solid #5c743d;
        width: 90%;
		border-spacing: 0; 
        margin-left: auto; 
    	 margin-right: auto; margin-bottom: 20px; -moz-box-shadow:    3px 3px 5px 6px #ccc;
		-webkit-box-shadow: 3px 3px 5px 6px #ccc;	
		 box-shadow: 3px 3px 5px 6px #ccc; padding: 10px; }
		 
#portfoliotable {
	width: 90%;
	border-spacing: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 20px; 
}

#portfoliotable td {
	text-align: left;
}
	
td:not(.lastcolumn), th:not(.lastcolumn) { 
	
	border-right: 1px solid #000000; }

th { border-bottom: 1px solid #000000; 
	 background-color: #095B1A;
	 text-align: center;
	 color: #ffffff;}

td {
	text-align: right;
}

.leftalign { text-align: left; }

td, th {
	padding: 5px; 
    font-family: Arial, sans-serif; }

caption { font-family: Verdana, sans-serif;
           font-size: 1.2em;
           font-weight: bold; 
		   padding-bottom: 5px;}
.altrow { background-color:#eaeaea; }

embed {
	-moz-box-shadow:    3px 3px 20px 6px #ccc;
	-webkit-box-shadow: 3px 3px 10px 6px #ccc;	
	box-shadow:         3px 3px 10px 6px #ccc;
}

#myimage {
	width: 170px;
	margin-left: auto;
	margin-right: auto;
}

.aboutmetable td {
	vertical-align: top;
}

form {
	background-color:#eaeaea;
	width: 30%;
	padding:10px;
	padding-left: 0;
}

label {
	/* float: left; */;
	display: block;
	text-align: center;
	/* padding-right: 10px; */
	/* margin-top: 10px; */
}

input, textarea {
	margin-top: 10px;
	display: block;
	width: 100%;
}