body {
	/*background-color:#FFFFFF;*/
	background-image: url(background.jpg);
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
}

h1 {
	background-color: #000033;
	background-image: url(sunset.jpg);
	background-position: right;
	background-repeat: no-repeat;
	color: #FFFFFF;
	line-height: 200%;
	font-family: Georgia, sans-serif;
	padding-left: 20px;
	height: 72px;
	margin-bottom: 0;
}

#nav {
	font-weight: bold;
	float: left;
	width: 160px;
	padding: 20px 5px 5px 20px;
}

#nav a { text-decoration: none; }
#nav a:link { color: #000033; }
#nav a:visited { color: #344873; }
#nav a:hover { color: #FFFFFF; }

#nav ul { 
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

h2 {
	color: #3399CC;
	font-family: Georgia, sans-serif
}

dt {
	color: #000033;
}

.resort {
	color: #000033;
	font-size: 1.2em;
}

#footer {
	font-size: .70em;
	font-style: italic;
	text-align: center;
	padding: 10px;
}

#wrapper {
	background-color: #90C7E3;
	min-width: 960px;
	-webkit-box-shadow: 5px 5px 5px #828282;
	-moz-box-shadow: 5px 5px 5px #828282;
	box-shadow: 5px 5px 5px #828282;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
 h3 {
 	color: #000033;
 }

 #content {
 	padding-left: 20px;
 	padding-right: 20px;
 	background-color: #FFFFFF;
 	margin-left: 160px;
 	padding-top: 1px;
 }

 #content img {
 	float: left;
 	padding-right: 20px;
 }

 .clear { clear: left; }

 #content ul { list-style-position: inside; }