body {
	/*background-color:#FFFFFF;*/
	background-image: url(background.jpg);
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
}

h1 {
	background-color: #000033;
	background-image: url(sunset.jpg);
	background-position: right;
	background-repeat: no-repeat;
	color: #FFFFFF;
	line-height: 200%;
	font-family: Georgia, sans-serif;
	padding-left: 20px;
	height: 72px;
	margin-bottom: 0;
}

#nav {
	font-weight: bold;
	background-color: #90C7E3;
	padding: 5px;
}

h2 {
	color: #3399CC;
	font-family: Georgia, sans-serif
}

dt {
	color: #000033;
}

.resort {
	color: #000033;
	font-size: 1.2em;
}

#footer {
	font-size: .70em;
	font-style: italic;
	text-align: center;
	padding: 10px;
}

#wrapper {
	background-color: #ffffff;
	min-width: 300px;
	-webkit-box-shadow: 5px 5px 5px #828282;
	-moz-box-shadow: 5px 5px 5px #828282;
	box-shadow: 5px 5px 5px #828282;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
 h3 {
 	color: #000033;
 }

 #content {
 	padding-left: 20px;
 	padding-right: 20px;
 }