body {
	background-color:#FFFFFF;
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
}

h1 {
	background-color: #000033;
	color: #FFFFFF;
	line-height: 200%;
	font-family: Georgia, sans-serif;
}

#nav {
	font-weight: bold;
	background-color: #90C7E3;
}

h2 {
	color: #3399CC;
	font-family: Georgia, sans-serif
}

dt {
	color: #000033;
}

.resort {
	color: #000033;
	font-size: 1.2em;
}

#footer {
	font-size: .70em;
	font-style: italic;
	text-align: center;
}

#wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
